.bootstrap_content_row {
  height: 100%;
}
.layout_container {
  height: auto;
  position: relative;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  word-wrap: break-word;
  margin-bottom: auto;
}
.layout_container:after {
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 4px 0;
  color: #9DA0A4;
  content: "预览区";
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  padding: 3px 7px;
  position: absolute;
  top: -1px;
}
.layout_container fieldset .standard-config {
  margin: 0;
}
.layout_container fieldset.column {
  height: 100%;
  width: 100%;
  border: 1px solid #0081c2;
  position: relative;
}
.layout_container fieldset.column-left {
  border: 1px solid #ff0000;
  margin: 0;
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.layout_container fieldset.column-right {
  border: 1px solid #ff5fba;
  margin: 0;
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.layout_container fieldset.column-top {
  margin: 0;
  width: 100%;
  height: auto;
  display: block;
}
.layout_container fieldset.column-bottom {
  margin: 0;
  width: 100%;
  height: 200px;
  margin-bottom: 0px;
  display: block;
}
.layout_container fieldset div.splite {
  background-color: #000088;
  position: relative;
  z-index: 200;
  border: 1px dashed blue;
}
.layout_container fieldset div.splite-vertical {
  width: 8px;
  height: 100%;
  cursor: col-resize;
  padding: 5px 0px;
  display: inline-block;
}
.layout_container fieldset div.splite-horizontal {
  height: 8px;
  width: 100%;
  cursor: row-resize;
  padding: 0px 5px;
}
