@mixin show_border($c:#000000){
  border: 1px solid $c;
}

div{
  .standard-config{
    margin: 0;
  }

  &.column{
    height: auto;
    width: 100%;
    border: 1px solid #0081c2;
    position:relative;
    overflow: auto;
    //display: block;
    //margin: 10px  0px;//测试显示用
  }

  @mixin column_horizontal{
    @extend .standard-config;
    width: auto;
    height: 100%;
    display: inline-block;
    @each $member in "","-ms-","-moz-","-webkit-"{//使用遍历生成兼容代码
      display:#{$member}box;
    }

    //position: absolute;
    top:0;
    left:0;

    min-height: 100px;
  }

  &.column-left{
    @include show_border(#ff0000);
    @include column_horizontal;
  }

  &.column-right{
    @include show_border(#ff5fba);
    @include column_horizontal;
  }

  @mixin column_vertical{
    @extend .standard-config;
    width: 100%;
    height: auto;
    display:block;
  }

  &.column-top{
    @include column_vertical;
  }

  &.column-bottom{
    @include column_vertical;
    height: 200px;//该属性暂时固定
    //margin-top: 20px;;
    margin-bottom: 0px;
  }

}