<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">VisualLayoutDesigner</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" id="sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#overview">Overview <span class="sr-only">(current)</span></a></li>
                <li><a data-toggle="collapse" href="#collapseOne">快速开发</a>
                    <div id="collapseOne" class=" collapse in">
                        <ul class="list-group">
                            <li class="list-group-item text-center">元素栏</li>
                            <li class="list-group-item">算法栏</li>
                            <li class="list-group-item">
                                <i class="pull-right icon-chevron-right"></i>
                                子流程栏</li>
                            <li class="list-group-item">
                                <div class="pull-right popover-info"><span class="badge">新</span>
                                    <div class="popover fade right">
                                        <div class="arrow"></div>
                                        <h3 class="popover-title">功能介绍</h3>
                                        <div class="popover-content">显示系统当前状态用，请访问<a target="_blank" href="http://twitter.github.io/bootstrap/scaffolding.html#gridSystem">状态栏.</a></div>
                                    </div>
                                </div>
                                状态栏
                            </li>
                            <li class="list-group-item">
                                <span class="badge">新</span>
                                工具栏
                            </li>
                        </ul>
                    </div>

                </li>
                <li><a data-toggle="collapse" href="#collapseTwo" data-parent="#sidebar">系统主界面</a>
                    <div id="collapseTwo" class=" collapse in">
                        <ul class="list-group">
                            <li class="list-group-item"><i class="pull-right glyphicon glyphicon-chevron-right"></i>顶部工具栏</li>
                            <li class="list-group-item">导航栏</li>
                            <li class="list-group-item">底部信息栏</li>
                            <li class="list-group-item">
                                <span class="badge">新</span>
                                实时状态
                            </li>
                            <li class="list-group-item">
                                <span class="badge">新</span>
                                属性配置
                            </li>
                        </ul>
                    </div>

                </li>
                <li><a href="#process">Processes</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <ul class="nav nav-list accordion-group">
                    <li class="nav-header">
                        <div class="pull-right popover-info"><i class="glyphicon glyphicon-queen"></i>
                            <div class="popover fade right">
                                <div class="arrow"></div>
                                <h3 class="popover-title">功能</h3>
                                <div class="popover-content">在这里设置你的栅格布局, 栅格总数默认为12, 用空格分割每列的栅格值, 如果您需要了解更多信息，请访问<a target="_blank" href="http://twitter.github.io/bootstrap/scaffolding.html#gridSystem">Bootstrap栅格系统.</a></div>
                            </div>
                        </div>
                        <i class="icon-plus icon-white"></i> 布局设置 </li>
                    <li style="display: none;" class="rows" id="estRows">
                        <div class="lyrow ui-draggable"> <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>删除</a> <span class="drag label"><i class="icon-move"></i>拖动</span>
                            <div class="preview">
                                <input value="12" type="text">
                            </div>
                            <div class="view">
                                <div class="row-fluid clearfix">
                                    <div class="span12 column"></div>
                                </div>
                            </div>
                        </div>
                        <div class="lyrow ui-draggable"> <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>删除</a> <span class="drag label"><i class="icon-move"></i>拖动</span>
                            <div class="preview">
                                <input value="6 6" type="text">
                            </div>
                            <div class="view">
                                <div class="row-fluid clearfix">
                                    <div class="span6 column"></div>
                                    <div class="span6 column"></div>
                                </div>
                            </div>
                        </div>
                        <div class="lyrow ui-draggable"> <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>删除</a> <span class="drag label"><i class="icon-move"></i>拖动</span>
                            <div class="preview">
                                <input value="8 4" type="text">
                            </div>
                            <div class="view">
                                <div class="row-fluid clearfix">
                                    <div class="span8 column"></div>
                                    <div class="span4 column"></div>
                                </div>
                            </div>
                        </div>

                    </li>
                </ul>
            </ul>


        </div>

        <div id="main" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div class="panel panel-default">
                <div class="panel-heading">面板标题
                <i class="pull-right glyphicon glyphicon-remove"></i></div>
                <table class="table">
                    <th>产品</th><th>价格 </th>
                    <tr><td>产品 A</td><td>200</td></tr>
                    <tr><td>产品 B</td><td>400</td></tr>
                </table>
            </div>

            <script type="text/javascript">
                $(function () { $('#collapseFour').collapse({
                    toggle: false
                })});
                $(function () { $('#collapseTwo').collapse('show')});
                $(function () { $('#collapseThree').collapse('toggle')});
                $(function () { $('#collapseOne').collapse('hide')});
            </script>
        </div>

    </div>
</div>
<style>
    .main {
        /*margin-left:0px;
        margin-top:10px;*/
        position:relative;
        padding:30px 15px 15px;
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        min-height: 200px;
        word-wrap: break-word;}
    .main:after {
        background-color: #F5F5F5;
        border: 1px solid #DDDDDD;
        border-radius: 4px 0 4px 0;
        color: #9DA0A4;
        content: "预览区";
        font-size: 12px;
        font-weight: bold;
        left: -1px;
        padding: 3px 7px;
        position: absolute;
        top: -1px;
    }

</style>