<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">VisualLayoutDesigner</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="bootstrap_content_row row">
        <div class="col-sm-3 col-md-2 sidebar" id="sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#overview">Overview <span class="sr-only">(current)</span></a></li>
                <li><a data-toggle="collapse" href="#collapseOne">ABC</a>
                    <div id="collapseOne" class=" collapse in">
                        <ul class="list-group">
                            <li class="list-group-item text-center">ABC栏</li>
                            <li class="list-group-item">ABC栏</li>
                            <li class="list-group-item">
                                <i class="pull-right icon-chevron-right"></i>
                                ABC</li>
                            <li class="list-group-item">
                                <div class="pull-right popover-info"><span class="badge">新</span>
                                    <div class="popover fade right">
                                        <div class="arrow"></div>
                                        <h3 class="popover-title">功能介绍</h3>
                                        <div class="popover-content">显示系统当前状态用，请访问<a target="_blank" href="http://twitter.github.io/bootstrap/scaffolding.html#gridSystem">状态栏.</a></div>
                                    </div>
                                </div>
                                ABC
                            </li>
                            <li class="list-group-item">
                                <span class="badge">新</span>
                                ABC
                            </li>
                        </ul>
                    </div>

                </li>
                <li><a data-toggle="collapse" href="#collapseTwo" data-parent="#sidebar">系统主界面</a>
                    <div id="collapseTwo" class=" collapse in">
                        <ul class="list-group">
                            <li class="list-group-item"><i class="pull-right glyphicon glyphicon-chevron-right"></i>顶部工具栏</li>
                            <li class="list-group-item">导航栏</li>
                            <li class="list-group-item">底部信息栏</li>
                            <li class="list-group-item">
                                <span class="badge">新</span>
                                ABS
                            </li>
                            <li class="list-group-item">
                                <span class="badge">新</span>
                                ABS
                            </li>
                        </ul>
                    </div>

                </li>
                <li><a href="#process">Processes</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <ul class="nav nav-list accordion-group">
                    <li class="nav-header">
                        <div class="pull-right popover-info"><i class="glyphicon glyphicon-queen"></i>
                            <div class="popover fade right">
                                <div class="arrow"></div>
                                <h3 class="popover-title">功能</h3>
                                <div class="popover-content">在这里设置你的栅格布局, 栅格总数默认为12, 用空格分割每列的栅格值, 如果您需要了解更多信息，请访问<a target="_blank" href="http://twitter.github.io/bootstrap/scaffolding.html#gridSystem">Bootstrap栅格系统.</a></div>
                            </div>
                        </div>
                        <i class="icon-plus icon-white"></i> 布局设置 </li>
                    <li style="display: none;" class="rows" id="estRows">
                        <div class="lyrow ui-draggable"> <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>删除</a> <span class="drag label"><i class="icon-move"></i>拖动</span>
                            <div class="preview">
                                <input value="12" type="text">
                            </div>
                            <div class="view">
                                <div class="row-fluid clearfix">
                                    <div class="span12 column"></div>
                                </div>
                            </div>
                        </div>
                        <div class="lyrow ui-draggable"> <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>删除</a> <span class="drag label"><i class="icon-move"></i>拖动</span>
                            <div class="preview">
                                <input value="6 6" type="text">
                            </div>
                            <div class="view">
                                <div class="row-fluid clearfix">
                                    <div class="span6 column"></div>
                                    <div class="span6 column"></div>
                                </div>
                            </div>
                        </div>
                        <div class="lyrow ui-draggable"> <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>删除</a> <span class="drag label"><i class="icon-move"></i>拖动</span>
                            <div class="preview">
                                <input value="8 4" type="text">
                            </div>
                            <div class="view">
                                <div class="row-fluid clearfix">
                                    <div class="span8 column"></div>
                                    <div class="span4 column"></div>
                                </div>
                            </div>
                        </div>

                    </li>
                </ul>
            </ul>


        </div>

        <div id="main" class="layout_container col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <fieldset class="column">
                <fieldset class="column column-left">
                    <div style="height: 100%;width: 100%;overflow: auto">
                        <div style="overflow: auto">left fieldset
                        <pre>必须给父容器wrap定义css属性display:box其子容器才可以进行划分(如果定了display:box则该容器则定义为了内联元素，使用margin:0px auto让其居中是无效的，
                            要想使其居中只能通过它的父容器的text-align:center);分别给sectionOne、
                            sectionTwo、sectionThree的box-flex设置了3、2、1，也就是说这三个子容器将父容器wrap的宽度600px分为6份
                            ，sectionOne占居父结构宽度的3/6即300px，sectionOne占居父结构宽度的2/6即200px，
                            sectionThree占居父结构宽度的1/6即100px。</pre>
                        </div>
                    </div>
                </fieldset>
                <div  class="splite splite-vertical" ></div>
                <fieldset class="column column-right">
                    <div>right fieldset</div>
                </fieldset>
            </fieldset>
            <fieldset class="column">
                <fieldset class="column column-top">
                    <div>top fieldset</div>
                </fieldset>
                <div  class="splite splite-horizontal" ></div>
                <fieldset class="column column-bottom">
                    <div>bottom fieldset</div>
                </fieldset>
            </fieldset>

            <fieldset class="column">
                <fieldset class="column column-left">
                    <div>left fieldset</div>
                </fieldset>
                <div  class="splite splite-vertical" ></div>
                <fieldset class="column column-right">
                    <div>right fieldset</div>
                </fieldset>
            </fieldset>

        </div>


    </div>
</div>

<link rel="stylesheet" href="styles/container.css" />
<link rel="stylesheet" href="styles/layouter.css" />

<script type="text/javascript">
    $(function () { $('#collapseFour').collapse({
        toggle: false
    })});
    $(function () { $('#collapseTwo').collapse('show')});
    $(function () { $('#collapseThree').collapse('toggle')});
    $(function () { $('#collapseOne').collapse('hide')});
</script>